* {
   border: 3px solid teal;
 }
body {
    background-color: #e3f2fd;
}
header {
   width: 100%;
}
#board {
   margin: 10%;
}
.container {
   display: flex;
   flex-direction: column;
}
 .row {
   flex-grow: 1;
   padding: 0%;
   margin-left: .05%;
   justify-content: center;
 }
 .col {
   font-size: 60px;
   font-weight: bolder;
   /* width: 33%; */
 }
 .col>p {
   /* visibility: hidden; */
 }
 p {
   text-align: center;
   padding: 2%;
   margin-top: 5%;
   
 }
 .col, .row, header, footer, aside {
    font-family: Papyrus, Arial;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
 }
 footer {
   display: flex;
   flex-direction: row wrap;
   max-width: 50%;
   align-content: center;
 }
 
 @media (min-width: 500px) {
   .container {
      flex-flow: row wrap;
      align-content: stretch;
   }
   header {
     min-height: 10%;
     
   }
   .col {
      min-width: 10%;
      margin: 0%;
   }
   .row {
      min-width: 100%;
     
   }
   footer {
      display: flex;
      min-width: 100%;
    }
   #player-options {
      /* flex-direction: row; */
      min-width: 50%;
      flex-flow: row nowrap;
   }
   #game-pieces {
      /* flex-direction: row; */
      min-width: 50%;
      flex-flow: row nowrap;
   }
   #score-card {
      width: 50%;
      margin-left: 25%;
   }
 }